$bg-color: #000000;
$verr-drk-blu: #172f60;
$drk-blu: #1c4594;
$lgt-blu: #22abda;
$drk-blugr: #025d7b;
$lgt-blugr: #05aeb2;
$cyan: #00d3d3;
$drk-green: #008462;
$lgt-green: #00ab72;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
